@import "jquery.mobile.custom.structure";
@import "jquery.mobile.custom.theme";
@import "tables";

$green: #7DBD9A;

@include foundation-table();

.inspections {
  h1,h2,h3,h4,h5,h6,p,table,th,td,button {
    font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  }
  padding: 0;
  margin: 0;
  header,
  footer {
    background-color: $green;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: white;
    h1 {
      color: white;
    }
  }
  footer {
    display: flex;
    a{
      color: white;
    }
  }
  table {
    margin-bottom: 10px;
    width: 100%;
  }
}
.table-container{
  height: 100vh;
  width: 100vw;
  overflow:auto;
  position:relative;
  box-sizing: border-box;
  padding: 0 1%;
}
thead {
  background-color: white;
  border-bottom: 1px solid #999;
  font-size: 11px;
}

tbody {
  tr {
    &.disabled {
      opacity: 0.75;
      font-style: italic;
    }
    input[type=checkbox] {
      display: none;
    }
    label {
    	display: inline-block;
    	cursor: pointer;
    	position: relative;

    	font-size: 13px;
      &:before {
      	content: "";
      	display: inline-block;
      	width: 16px;
      	height: 16px;
      	margin-left: 20px;
      	position: absolute;
      	left: 0;
      	bottom: 1px;
      	background-color: #ccc;
      	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
      }
    }

    .checkbox label:before {
      border-radius: 2px;
    }

    .telephone {
      min-width: 150px;
    }
    .checkin {
      min-width: 100px;
    }

    input[type=checkbox]:checked + label:before {
    	background-color: $green;
    }

    &:nth-of-type(even) {
      background-color: #eee;
      label {
        background-color: #eee;
      }
    }
  }
}
#dialog-card-container {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &.is-open {
    z-index: 9999;
  }
}
#dialog-card {
  background-color: white;
  width: 500px;
  height: 600px;
  max-width: 96%;
  max-height: 96%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform-style: preserve-3d;
  transition: transform 0.25s;
  transform: rotateY(90deg);
  perspective: 800px;
  border: 1px solid #ccc;
  padding: 10px;
  &.is-open {
    transform: rotateY(0deg);
  }
  .button {
    &.success {
      background-color: #3adb76;
      color: #fefefe;
    }
    &.alert {
      background-color: #ec5840;
      color: #fefefe;
    }
  }
  #ready-message {
    font-weight: bold;
    .success {
      color: #3adb76;
    }
    .failure {
      color: #ec5840;
    }
  }
}
.logo {
  background: url('/wp-content/themes/outpostjh/css/images/outpost_logos/logo-black-450.png') no-repeat;
  background-size: contain;
  width: 140px;
  flex: 1 1 50%;
}
